@{
    ViewBag.Title = "Registro Pendiente";
}

<h2>Registro Pendiente de Aprobación</h2>

<p>
    Gracias por registrarte. Tu cuenta está pendiente de aprobación por un administrador.
    Por favor, espera mientras validamos tu solicitud y le hacemos incapie de estar atento a su correo electornico, gracias.
</p>
<br />
@Html.ActionLink("Regresar", "IniciarSesion", "Usuario", null, new { @class = "btn btn-danger" })